<div class="h-100 p-5 text-white bg-dark rounded-3">
    <h1><i class="fad fa-clone"></i> TaskMe</h1>
    <p>Helping you to increase your productivity</p>
    <%= link_to 'Sign up', '#', class: "btn btn-outline-light" %>
</div>
